/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding-top: 90px;
    padding-left: 90px;
}

/* You can add global styles to this file, and also import other style files */

app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.movie-poster{
    width: 100%;
    opacity: 100;
    
}

.search-btn{
    cursor: pointer;
    margin-top:15px;

}
.search-input{
    height: 6rem !important;
    top:20px;
    font-size: 6rem !important;
}

.movie{
    opacity: 0;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
    cursor: pointer;
    animation: .75s ease-in slide-in;
    animation-fill-mode: forwards;
}

@keyframes slide-in{
    0%{
        opacity:0;
        transform:translateY(-15px) 
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}